 <header>
        <div class="sp-menu-icon"></div>
        <nav class="sp-nav">
            <ul>
                <li class="icon-rank9-7"><a class="link" href="#topic1">ランキング9〜7位</a></li>
                <li class="icon-rank6-4"><a class="link" href="#topic2">ランキング6〜4位</a></li>
                <li class="icon-rank3-1"><a class="link" href="#topic3">ランキング3〜1位</a></li>
            </ul>
        </nav>
        <h1>ディズニーに来たら食べるべき人気食べ物ベスト9</h1>
        <div class="icon-top"></div>
        <div class="icon-center"></div>
        <div class="icon-bottom"></div>
        <div class="clearfix">
            <nav class="pc-nav">
                <ul>
                    <li class="icon-rank9-7"><a class="link" href="#topic1">ランキング9〜7位</a></li>
                    <li class="icon-rank6-4"><a class="link" href="#topic2">ランキング6〜4位</a></li>
                    <li class="icon-rank3-1"><a class="link" href="#topic3">ランキング3〜1位</a></li>
                </ul>
            </nav>
        </div>
        
        <div id="container">
            <div id="theTarget">
                <div style="background-image: url(/assets/Disney_cartoon_characters_large_photo_wallpaper_medium.jpg)"><a href="http://u-d-l.jp/"></a></div>
                <div style="background-image: url(/assets/00048916.jpg)"><a href="http://black-flag.net/jquery/20131217-4909.html"></a></div>
                <div style="background-image: url(/assets/Disney20NOV0720021.jpg)"></div>
                <div style="background-image: url(/assets/ディズニー７.jpg)"></div>
            </div>
        </div>
    </header>

    <!-- header終わり -->
    <div class="container">
        <div class="clearfix">
            <section class="main_rank">
                <h2 id="topic1">ランキング9〜7位</h2>
                <section class="text clearfix">
                    <h3 class="rank">9位</h3>
                    <h3 class="dyzney">ハッピーフレンズ（430円）</h3>
                    <p class="name">アメリカンウォーターフロント</p>
                    <img src="/assets/dyzney1.jpg" class="imgdyz">
                    <p class="sentence">ディズニーシーでしか会えないキャラクター・ダッフィーとシェリーメイがセットになったスイーツ。
                    ダッフィーはチョコレートクリーム、シェリーメイはブルーベリークリームが入っています。もちもちの生地とぎっしり詰まったクリームがおいしい！可愛すぎて食べるのがもったいないですよね。ここは心を鬼にして、可愛いダッフィーとシェリーメイをおいしくいただきましょう！
                    <br>
                    <strong>○販売場所：ケープコッド・クックオフケープコッド・コンフェクション</strong></p>
                </section>
                <section class="text clearfix">
                    <h3 class="rank">8位</h3>
                    <h3 class="dyzney1">ベイクドポテト ベーコン＆チーズ（450円）</h3>
                    <p class="name">アメリカンウォーターフロ</p>
                    <img src="/assets/normal.jpg" class="imgdyz">
                    <p class="sentence clearfix">2016年4月15日からオープンした「ハドソンリバー・ハーベスト」で販売されているおしゃれなベイクドポテトです。
                    ベーコン＆チーズとハニーマスタードの2種のベイクドポテトに、サンライズをイメージしたドリンク（アルコールも有）があります。 小腹が減った時に、ベンチに座ってゆっくり食べたいフードです♪
                    <br><strong>○販売場所：ハドソンリバー・ハーベスト</strong>
                    </p>
                </section>
                <section class="text1 clearfix">
                    <h3 class="rank">7位</h3>
                    <h3 class="dyzney1">スウィートフライドブリート（400円）</h3>
                    <p class="name">ロストバリーデルタ</p>
                    <img src="/assets/normal1.jpg" class="imgdyz">
                    <p class="sentence clearfix">パッケージの陽気なドナルドのデザインも可愛いスイーツ！
                    <サクサクのパイ生地の中にはバナナやキャラメル、チョコレートスポンジ、シナモン、ナッツなどがぎっしり入っていて食べ応えも抜群です。 熱々の状態で渡してもらえるので、温かいうちに食べられるのも嬉しい♪甘いものが食べたくなったら、ぜひ食べてほしいおすすめスイーツです！
                    こちらのスイーツを販売しているトロピック・アルズではグルメはこのスウィートフライドブリートだけ。飲み物はココアやジュースなどがそろっているので、飲み物と一緒に座って食べながら休憩するのもいいですね。
                    <br><strong>○販売場所：トロッピック・アルズ</strong>
                    </p>
                </section>
            <section class="main_rank">
        </div>
        <div class="clearfix">
            <section class="main_rank">
                <h2 id="topic2">ランキング6〜4位</h2>
                <section class="text clearfix">
                    <h3 class="rank">6位</h3>
                    <h3 class="dyzney1">スペシャルセット（990円）</h3>
                    <p class="name">マーメイドラグーン</p>
                    <img src="http://ure.pia.co.jp/mwimgs/3/7/-/img_37c84f415ccad1c81d8060d3f522eccc78525.jpg" class="imgdyz">
                    <p class="sentence clearfix">紫色のバンズが珍しくて可愛いポークとエッグサラダのサンドに、ミックスベリームースに、お好みのソフトドリンクがセットになったメニューです。
                    味はもちろんのこと、とにかく見た目が可愛いフードなので、写真におさめたくなるおすすめフードです♡
                    <br><strong>○販売場所：セバスチャンのカリプソキッチン</strong></p>
                </section>
                <section class="text clearfix">
                    <h3 class="rank">5位</h3>
                    <h3 class="dyzney1">チャンドゥテール キャラメル＆バナナ（450円）</h3>
                    <p class="name">アラビアンコースト</p>
                    <img src="/assets/banana.jpg" class="imgdyz">
                    <p class="sentence clearfix">チキンクリーム。シンドバッドに出てくるキャラクター・小虎のチャンドゥのしっぽをモチーフにした中華まん。
                    中にはまろやかなクリーム味のチキンとコーンが入っていて、お子様でも食べやすい味になっています。 中華まんだとドナルドのうきわまんも有名ですが、チャンドゥの中華まんも見逃せません！クリーミーな味が好きなら、必食のグルメです！ お店のあるアラビアンコーストはアラジンやシンドバッドの世界観が楽しめるので、景色も楽しみながら食べたいですね♪
                    <br><strong>○販売場所：サルタンズ・オアシス</strong>
                    </p>
                </section>
                <section class="text1 clearfix">
                    <h3 class="rank">4位</h3>
                    <h3 class="dyzney1">チュロス カフェオレ味（310円）</h3>
                    <p class="name">ポートディスカバリー</p>
                    <img src="/assets/normal2.jpg" class="imgdyz">
                    <p class="sentence clearfix">2015年9月1日から発売されているチュロスのカフェオレ味です。ディズニーのチュロスは期間限定フレーバーなども多いので、行く度にチェックが欠かせません！
                    カフェオレ味のチュロスはコーヒーやミルクの風味と甘い砂糖をまぶしてあるので、パーク内を歩きまわって疲れた身体に甘さが染みわたりそう♡食べ歩きもいいですが、お茶と一緒に食べながらゆっくりと休むのもいいですね。
                    <br><strong>○販売場所：ホライズンベイ・レストラン　テラス席</strong>
                    </p>
                </section>
            </section>
        </div>
        <div class="clearfix">
            <section class="main_rank">
                <h2 id="topic3">ランキング3〜1位</h2>
                <section class="text clearfix">
                    <h3 class="rank">3位</h3>
                    <h3 class="dyzney1">チュロス　ポテト味（380円）</h3>
                    <p class="name">ミステリアスアイランド</p>
                    <img src="/assets/normal3.jpg" class="imgdyz">
                    <p class="sentence clearfix">2012月1日から発売されているチュロスの新フレーバー「ポテト」味です。
                    ほんのり塩味で、外はカリカリ、中はもちもちの食感が癖になる美味しさになっています。甘い物が苦手な方でも美味しく食べられるフードですね。
                    <br><strong>○販売場所：リフレッシュメント・ステーション</strong>
                    </p>
                </section>
                <section class="text clearfix">
                    <h3 class="rank">2位</h3>
                    <h3 class="dyzney1">ギョウザドッグ（500円）</h3>
                    <p class="name">ミステリアスアイランド</p>
                    <img src="/assets/normal4.jpg" class="imgdyz">
                    <p class="sentence clearfix">いつも行列が絶えない人気の食べ歩きグルメ・ギョウザドッグ。熱々のギョウザのタネとふわふわの生地が食欲をそそります！食べ応えもあるので、小腹が空いた時にぴったり♪
                    ディズニーシーはアルコールも飲めるので、成人の方はビールと一緒に食べるのもおいしそうですね。ディズニーシーに行ったことがあるなら、一度は食べておきたいグルメです。
                    <br>○カロリー：約324kcal
                    <br><strong>○販売場所：ノーチラスギャレー</strong>
                    </p>
                </section>
                <section class="text1 clearfix">
                    <h3 class="rank">1位</h3>
                    <h3 class="dyzney1">ピスタチオジェラート＆レモンゼリー（920円）</h3>
                    <p class="name">メディテレニアンハーバー</p>
                        <img src="/assets/normal5.jpg" class="imgdyz">
                        <p class="sentence clearfix">ゴントリエスナックで買えるダッフィーの新しいお友達のネコのジェラトーニが描かれたスーベニアマグカップ付きのスイーツです。
                        （カップなしは400円）マグカップの中に入っているカップも可愛くて持って帰りたくなってしまいますね♡美味しく食べられてお土産にもなるスーベニア付きのフードはおすすめです。
                        <br><strong>○販売場所：ゴントリエスナック</strong>
                        </p>
                </section>
            </section>
        </div>
    </div>
            <div class="map-box">
                <a href="https://www.google.co.jp/maps/dir/%E5%9F%BC%E7%8E%89/%E3%83%87%E3%82%A3%E3%82%BA%E3%83%8B%E3%83%BC%E3%83%A9%E3%83%B3%E3%83%89/@35.7457084,139.6154706,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x60192a8d477b01e9:0xfed91267aa80526c!2m2!1d139.6488487!2d35.8569991!1m5!1m1!1s0x60187d03114737b3:0xe4d93636d509d3cb!2m2!1d139.8803943!2d35.6328964" target="_blank">
                    <img class="map" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzOaNJhIC5nzx-PJppI_glcqfu9RcUU_XCswBs_vQfXnoH454U3gtg0g"></a>
                <div class="sign">これが恋の道筋です➝</div>
            </div>
    <!-- ここからfooterです -->
    <footer>
        <div class="clearfix">
            <nav class="pc-nav">
                <ul>
                    <li class="icon-rank9-7"><a class="link" href="#topic1">ランキング9〜7位</li>
                    <li class="icon-rank6-4"><a class="link" href="#topic2">ランキング6〜4位</li>
                    <li class="icon-rank3-1"><a class="link" href="#topic3">ランキング3〜1位</li>
                </ul>
            </nav>
        </div>
        <p class="copylight">disny favarite food All right reserved.</p>
    </footer>   
            <!-- footer終わり -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/assets/skippr.min.js"></script>
    <script src="/assets/script.js"></script>
    <script src="/assets/script.sp.js"></script>



    
